<table class="table">
  <tr *ngFor="let c of compagnons | async">
    <td>{{ c.id }}</td>
    <td>{{ c.nom }}</td>
    <td>
      <a
        [routerLink]="['/compagnon', 'edit', c.id]"
        routerLinkActive="active"
        class="btn btn-outline-primary"
        >editer</a
      >
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="delete(c.id!)">
        supprimer
      </button>
    </td>
  </tr>
</table>
<a routerLink="/compagnon/edit" routerLinkActive="active" class="btn btn-link"
  >ajout compagnon</a
>
